@font-face {
	font-family: 'archive';
	src: url('archive-webfont.eot');
	src: url('archive-webfont.eot?#iefix') format('embedded-opentype'),
		url('archive-webfont.woff') format('woff'),
		url('archive-webfont.ttf') format('truetype'),
		url('archive-webfont.svg') format('svg');
}