@font-face {
	font-family: '04b30';
	src: url('04b30.eot');
	src: url('04b30.eot?#iefix') format('embedded-opentype'),
		url('04b30.woff') format('woff'),
		url('04b30.ttf') format('truetype'),
		url('04b30.svg') format('svg');
}