header.main-header .logo {
    float: left;
    width: 15em;
}


/* <!------------------------TILE STYLES------------->*/




div#post-tiles{}

/*:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}*/
body > footer > div > div.col-md-4.col-sm-12 > div > div{font-family: 'Oxygen', sans-serif !important;}
body > footer > div > div.col-md-8.col-sm-12 > div{font-family: 'Oxygen', sans-serif !important;}
body > section{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;}
body {
    font-family: 'FontAwesome';
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

/*.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}*/
.container1 {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}
.btn {
    display: inline-block;
   /* font: inherit;*/
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

i.fas,
        i.fa {font-style: normal;}
        
.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
font-style: normal;
}

i.fas.fa-heart {
    font-style: normal;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}



@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}

 
/*----------------------------------------POSTER STARTS-----------------*/
.conatiner {
	width: 100%;
	height: 500px;
}
.wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.box {
	margin: 10px;
	width: 300px;
	height: auto;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: 200ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
	        box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.box:hover {
	margin-bottom: -10px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	        box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
.box h1 {
	color: #fff;
	padding: 30px;
	margin-top: 100px;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
	        box-shadow: 0 0 30px rgba(0,0,0,0.8);
}
    body > section > div > div > div.box.one-prfm{
     background-size: contain !important;
       /* height: 463.5px !important;*/
        
    }
body > section > div > div > div.box.one-blkstnburlq{
     background-size: contain !important;
        height: 463.5px !important;
        
    }
body > section > div > div > div.box.one-glitterghoul{
     background-size: contain !important;
        height: 463.5px !important;
        
    }
    body > section > div > div > div.box.two-twg1.wow.fadeInUp.animated{
        background-size: contain !important;
    height: 391px !important;
    }
    
     body > section > div > div > div.box.two-twg1{
     background-size: contain !important;
        height: 463px !important;
        
    }
     body > section > div > div > div.box.three-twg2{
     background-size: contain !important;
        height: 463px !important;
        
    }
    
    body > section > div > div > div.box.five-ccgb{
     background-size: contain !important;
        height: 436px !important;
        
    }
   body > section > div > div > div.box.six-hth1 {
    background-size: contain !important;
    height: 388px !important;
}
     body > section > div > div > div.box.seven-hth2{
     background-size: contain !important;
       height: 494px !important;
        
    }
    body > section > div > div > div.box.eight-hth3{
     background-size: contain !important;
     height: 388px !important;
        
    }
 body > section > div > div > div.box.nine-tara{
     background-size: contain !important;
        height: 424px !important;
        
    }
body > section > div > div > div.box.ten-fracture{
     background-size: contain !important;
        height: 424px !important;
        
    }
body > section > div > div > div.box.eleven-rwbposter{
     background-size: contain !important;
     height: 423px !important;
        
    }
    body > section > div > div > div.box.thirteen-fob{
     background-size: contain !important;
     height: 463.5px !important;
        
    }
 body > section > div > div > div.box.ftn-magenta{
     background-size: contain !important;
     height: 389.5px !important;
        
    }
    
    

.poster {
	width: 130px;
	height:130px;
	margin: 120px auto;
	position: relative;
	border-radius: 100px;
}

/*.one-prfm {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/2021PRFM-Flyer.png');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}*/
/*.one-blkstnburlq {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/blackstone-burlesque-poster.png');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.one-glitterghoul {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/Print_halloweenposter-saveforweb.png');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*.one {
	background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/2021PRFM-Flyer.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}*/

/*.two-twg1 {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/twg-flyergif.gif');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.three-twg2 {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/TWG-MarchFlyer.jpg');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.five-ccgb {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/CCGB-Flyer-RGB.png');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.six-hth1 {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/HTH_halloween2017_poster_02.png');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.seven-hth2 {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/HTH-xmasposter-2-final.png');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.eight-hth3 {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/HTH-xmas-flyers-1-final.png');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nine-tara {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/tara-poster-rgb.png');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.ten-fracture {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/Fracture-poster-rgb.png');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.eleven-rwbposter {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/rewritebeautiful-flyer1.jpg');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tlv {
	background: url('https://source.unsplash.com/999x888');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.thirteen-fob {
	/*background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/%2Bposters/FOB_MusicPoster-rgb.png');*/
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ftn-magenta {
	background: url('https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/--collegework/magentaad.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*.fith {
	background: url('https://source.unsplash.com/2000x1000');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.sith {
	background: url('https://source.unsplash.com/3000x1000');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.sevth {
	background: url('https://source.unsplash.com/9000x9000');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* POSTER*/
/*.p1 {
	background: #2b5876;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: -webkit-gradient(linear, left top, right top, from(#4e4376), to(#2b5876));
	background: -webkit-linear-gradient(left, #4e4376, #2b5876);
	background: -o-linear-gradient(left, #4e4376, #2b5876);
	background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/*-webkit-box-shadow: 0 0 20px darkblue;
	*/      /*  box-shadow: 0 0 20px darkblue;
}



/*  FOLLOW*/
/*.Follow {	  background:url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
	width: 50px;
	height: 50px;
	bottom: 9px;
	right: 20px;
	display:block;
	position:fixed;
	border-radius:50%;
	z-index:999;
	animation:  rotation 10s infinite linear;
	}*/

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
/*----------------------------------------POSTER ENDS----------------*/

/*----------------------------------------Business Cards STARTS-----------------*/


.content {
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  perspective: 150rem;
  height: 20rem;
  width: 30rem;
  position: relative;
}
.card__side {
  height: 15rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 30rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.card__side--front {
 
  background-image: url(https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/TBC-Front-BCard.jpg);
  background-size: cover;
height: 12.3em;
}
.card__side--back {
  transform: rotateY(180deg);

  background-image: url(https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/TBC-Back-Bcard.jpg);
  background-size: cover;
height: 12.3em;
}
        
        
        
 .card__side--front2 {
  background-image: url(https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/FRONT-card01.jpg);
  background-size: cover;
height: 12.3em;
}
.card__side--back2 {
  transform: rotateY(180deg);
  background-image: url(https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/card-back04.jpg);
  background-size: cover;
height: 12.3em;
}       
        
        
  .card__side--front3 {

  background-image: url(https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/Shaun-front.png);
  background-size: cover;
}
.card__side--back3 {
  transform: rotateY(180deg);

  background-image: url(https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/Shaun-back%5BCard%5D.png);
  background-size: cover;
}      
             
  .card__side--front4 {

  background-image: url(https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/--branding/maetricks-bcard-front.jpg);
  background-size: cover;
}
.card__side--back4 {
  transform: rotateY(180deg);

  background-image: url(https://maemiller-websitemedia.s3.us-east-2.amazonaws.com/--branding/maetricks-bcard-back.jpg);
  background-size: cover;
}    
        
        
        
        
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__cont {
  height: 15rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: white;
}
.card__cta p {
  margin-left: 1rem;
}
.card__cta p > .space {
  margin-left: 2rem;
}
    
    
        @media (min-width: 768px) and (max-width: 991px) {
            body > section:nth-child(3) > div > div:nth-child(2){flex-flow: wrap; display:flex;}
            
            
            
            
            
            
            
        }
/*----------------------------------------Business Cards ENDS-----------------*/