p {    margin-top: 0px !important;
    margin-bottom: 30px !important;}

.tab-round .content {
  position: absolute;
  width: 700px;
  height: auto;
  /*margin-top: -50px;
  margin-bottom: 50px;*/
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 100;
  /*box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);*/
 /* padding: 30px;*/
     /*border:2px solid violet;*/
        max-width: 700px;
    padding: 1rem;
    margin: 1rem auto 4rem auto;
}
/*.tab {
    background: #fff;
    border: 2px solid #663366;
    color: #663366;
    border-radius: 13px;
    font-weight: 500;
}*/

#tab1-tab > div > div > section:nth-child(3) {
    /* border: 2px solid red; */
    margin-top: 2em !important;
}

section {
    margin-top: 0;
    margin-bottom: 0;
}

#tab1-tab > div > div > section:nth-child(3), #tab2-tab > div > div > section, #tab3-tab > div > div > section {

    margin-top: 2em !important;
}

.ootb-tabcordion--tabs .tab.is-active {
    background: #fff !important;
    border: 2px solid #663366;
    color: #663366;
    border-radius: 13px;
    font-weight: 500;
}
button#tab2.tab, button#tab3.tab {
    padding: 0.5rem 5rem;
    background: #fff !important;
    border: 2px solid #bda6cd!important;
    color: #bda6cd;
    border-radius: 13px;
    font-weight: 600;
    margin: 0 0 1px 0;
    border-right: 1px solid #fff;
    cursor: pointer;
    font-size: 16px;
    display: block;
}
.post-image img {
    width: 100%;
    border-radius: 5px;
    vertical-align: top;
    border: 0.5px solid #663366;
    box-shadow: 0px -2px 13px rgb(0 0 0 / 40%);
}
.post-image img:hover {
    width: 100%;
    border-radius: 5px;
    vertical-align: top;
    border: 0.5px solid #663366;
    box-shadow: none;
}
a:visted .post img {
    border: 5px solid green;
}      
        
        .IG-videos {
    height: 620px !important;
    overflow: hidden;
}
        
        
        
       .DP1, .DP2, .DP3, .DP5, .DP6, .DP4, .DPC3, .DPC4, .DPC5, .DPC6, .HTH1, .HTH2, .meme1, .meme2{
     display: flex;
    max-width: 23.5em;
    object-fit: contain;
    /*overflow: auto;*/
    border-radius: 3px !important;
   /* border: 1px solid rgb(219, 219, 219) !important;*/
           height: 38em;
        
        
   
}
        .DPU-4, .DPU-forevermore {
    display: flex;
    max-width: 23em;
    object-fit: contain;
    overflow: auto;
    border-radius: 3px !important;
    border: 1px solid rgb(219, 219, 219) !important;
    max-height: 44em;
}
        
      
        
        
        iframe#instagram-embed-1{max-width:20em !important;}
        
 
        aside.IG-container1 {
            /*border:2px solid purple;*/
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
   width: 100%;
    flex-direction: row;
    /*margin-top: 30px;
    margin-bottom: 30px;*/
}
          aside.IG-container2{
          /*  border:2px solid aqua;*/
           display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
            /*  margin-bottom: 30px;*/
}
        
         aside.IG-container3 {
          /*  border:2px solid green;*/
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
width: 100%;
    flex-direction: row;
    /*margin-top: 30px;
    margin-bottom: 30px;*/
}
        
              aside.IG-container4 {
           /* border:2px solid lightgreen;*/
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  width: 100%;
    flex-direction: row;
   /* margin-top: 30px;
    margin-bottom: 30px;*/
}
        
             aside.IG-container5 {
            /*border:2px solid purple;*/
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
 width: 100%;
    flex-direction: row;
   /* margin-top: 30px;
    margin-bottom: 30px;*/
}
             aside.IG-container6 {
            /*border:2px solid purple;*/
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  width: 100%;
    flex-direction: row;
   /* margin-top: 30px;
    margin-bottom: 30px;*/
}
        
             aside.IG-container7 {
            /*border:2px solid purple;*/
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  width: 100%;
    flex-direction: row;
   /* margin-top: 30px;
    margin-bottom: 30px;*/
}
              aside.IG-container8 {
            /*border:2px solid purple;*/
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  width: 100%;
    flex-direction: row;
  /*  margin-top: 30px;
    margin-bottom: 30px;*/
}

img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
 
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Loader */

.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}



















.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  justify-content: center;
  grid-gap: 28px;
  
}
.post {
  cursor: pointer;
  position: relative;
  display: block;
 
}
.post-image {
  margin: 0;
}
.post-image img {
  width: 100%;
  vertical-align: top;
}
.post-overlay {
  background: rgba(0,0,0, .4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.post:hover .post-overlay{
			display: flex;
}

.post-like,
.post-comments {
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .post-list {
    grid-gap: 3px;
  }
}







p.warning {
  text-align: center;
  line-height: 2;
  margin-bottom: 2rem;
}
p.warning a {
  background: #3bacff;
  color: #fff;
  padding: 0.2rem 0.7rem;
  border-radius: 3px;
  white-space: nowrap;
  text-decoration: none;
}
p.warning a.more {
  background: #45ba04;
}

* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background: #dce2e2;
  color: #444;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  margin-top: 0;
  line-height: 1.6;
}

h2 {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
}

.ootb-tabcordion {
font-family: 'Oxygen', sans-serif;
  background: #fff;
 /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);*/
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  max-width: 700px;
  padding: 1rem;
  margin: 1rem auto 4rem auto;
  border-radius: 15px;
}
.ootb-tabcordion.has-tabs .ootb-tabcordion--tabs {
    display: flex;
    opacity: 1;
    height: auto;
    visibility: visible;
    justify-content: space-evenly;
}
.ootb-tabcordion.has-tabs .ootb-tabcordion--entry {
  min-height: 0;
}
.ootb-tabcordion.has-tabs .ootb-tabcordion--entry::before {
  display: none;
}
.ootb-tabcordion.has-tabs .ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}
.ootb-tabcordion.has-tabs .ootb-tabcordion--entry .ootb-tabcordion--entry-content {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.ootb-tabcordion--tabs {
  opacity: 0;
  height: 0;
  visibility: hidden;
  display: flex;
  flex-flow: wrap;
  margin: 0;
  list-style: none;
  padding: 0;
}
.ootb-tabcordion--tabs .tab {
background: #fff !important;
    border: 2px solid #bda6cd;
    color: #bda6cd;
    border-radius: 13px;
    font-weight: 500;
  display: block;

  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;

  margin: 0 0 1px 0;
  border: none;
  border-right: 1px solid #fff;
  cursor: pointer;
}
.ootb-tabcordion--tabs .tab:hover, .ootb-tabcordion--tabs .tab:focus {
  background: #535353;
  outline: none;
}
.ootb-tabcordion--tabs .tab.is-active {
 background: #DDD2E6 !important;
}

.ootb-tabcordion--tabs .tab.is-active:hover, .ootb-tabcordion--tabs .tab.is-active:focus,button#tab2.tab:hover, button#tab3.tab:hover {
    background: #bda6cd !important; border:2px solid #663366 !important;
    color: #663366;
}

.ootb-tabcordion--entry {
  overflow: hidden;
}
.ootb-tabcordion--entry::before {
  position: relative;
  content: attr(data-title);
  cursor: pointer;
  z-index: 1;
  background: #444;
  color: #fff;
  padding: 0.5rem 1rem;
  display: block;
  border-radius: 3px;
}
.ootb-tabcordion--entry:hover, .ootb-tabcordion--entry:focus {
  outline: none;
}
.ootb-tabcordion--entry:hover::before, .ootb-tabcordion--entry:focus::before {
  background: #535353;
}
.ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
  margin-top: 0;
  height: auto;
  opacity: 1;
  transition: margin 400ms ease-out -100ms;
}
.ootb-tabcordion--entry.is-active::before {
  background: #3bacff;
}
.ootb-tabcordion--entry.is-active:hover::before, .ootb-tabcordion--entry.is-active:focus::before {
  background: #1c9fff;
}

.ootb-tabcordion--entry-container {
  overflow: hidden;
  margin-bottom: 1px;
}

.ootb-tabcordion--entry-content {
  position: relative;
  margin-top: -100%;
  height: 0;
  opacity: 0;
  transition: margin 500ms ease-in;
  padding: 1rem;
}
.ootb-tabcordion--entry-content a.more {
  color: #444;
}
.ootb-tabcordion--entry-content a.more:hover {
  color: #3bacff;
}