 .photo-gallery {
            color: #313437;
            background-color: #fff;
        }
        
        .photo-gallery p {
            color: #7d8285;
        }
        
        .lightbox {
            background: rgba(0, 0, 0, 0.01)!important;
        }
        
        .photo-gallery .intro p {
            margin-bottom: 0;
        }
        
        .photo-gallery .photos {
            padding-bottom: 20px;
        }
        
        .photo-gallery .item {
            margin-bottom: 30px;
        }